name: env_variable_demo

on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: 'Docker image tag'
        required: true
        default: 'latest'

# Non-sensitive environment variable
env:
  ACR_NAME: devopsabbacrab

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'

      - name: npm install, build and test
        run: |
          npm install
          npm run build --if-present
          npm run test --if-present

      # ---- Upload test reports ----
      - name: Upload test reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-reports
          path: test-results/

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Login to Azure (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_A58C07F1F0F648B0BE3265DA74CB9F99 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_591442E3447B4500881308BB151D8815 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_76E486F57F2446C9A01B7CC26D247A40 }}

      # ---- Login to ACR (ACR_NAME via env) ----

      - name: Login to ACR and Push
        uses: azure/docker-login@v1
        with:
          login-server: ${{ env.ACR_NAME }}.azurecr.io
          username: ${{ secrets.ACR_USERNAME_CI }}
          password: ${{ secrets.ACR_PASSWORD_CS }}

      - name: Validate ACR login
        run: |
            echo "Validating Docker login to ACR..."
            docker info > /dev/null
            echo "Docker is authenticated and ready"

      

